
body {
    color: #fff;
}

.container {
}

.row {
    height: 100%;
}

[class*="col"] {
    background: pink;
    border: 1px rgb(0, 0, 0) solid;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

.pad{
    padding: 5px;
}

.color{
    background-color: rgb(243, 150, 166);
}

[class*="col"] > .row > [class*="col"] 
{
   height: 100%;
}